@using Shop_Chernyshkov_Final.Data.ViewModell
@model VMItems

@{
    Layout = "_Layout";
}

<div>
    <select onChange="SelectCategory(this)">
        <option value="0">Выбрать ...</option>
        @foreach (var Category in Model.Category)
        {
            if (Category.Id == Model.SelectCategory)
            {
                <option selected="selected" value="@Category.Id">@Category.Name</option>
            }
            else
            {
                <option value="@Category.Id">@Category.Name</option>
            }
        }
    </select>
    <script>
        function SelectCategory(sender) {
        window.location = "/Items/List?id=" + sender.value;
        }
    </script>
</div>

<h2>Все предметы</h2>

@foreach (var item in Model.Items)
{
    if (item.Category.Id == Model.SelectCategory)
    {
        <div class="item">
            @{
                string imgSrc = item.Img;
                if (!string.IsNullOrEmpty(imgSrc) && !imgSrc.StartsWith("http"))
                {
                    imgSrc = "~/img/" + imgSrc;
                }
            }
            <img src="@(item.Img != null && item.Img.StartsWith("http") ? item.Img : Url.Content("~/img/" + item.Img))" />
            <div class="basket">
                <div class="button" data-id="@item.Id">В корзину</div>
                <div class="count">
                    <div class="button min">-</div>
                    <div class="text">1</div>
                    <div class="button max">+</div>
                </div>
                
            </div>
            <div class="data">
                <h3>Модель: @item.Name</h3>
                <div>Цена: @item.Price.ToString("c")</div>
                <div>Категория @item.Category.Name</div>
                <div>Описание: @item.Description</div>
                <div>
                    <a href="/Items/Update?id=@item.Id">Редактировать</a>
                    <a href="/Items/Delete?id=@item.Id&categoryId=@Model.SelectCategory" onclick="return confirm('Удалить товар?')">Удалить</a>
                </div>
            </div>
        </div>
    }
}
<script>
    $(".item").children(".basket").children(".button").click(function (){
        $(this).parent().children(".count").show();
        $(this).hide();
        $.ajax({
            url: '@Url.Action("Basket", "Items")',
            contentType: "application/json; charset=utf-8",
            data: { idItem: $(this).data('id') },
            dataType: "json",
            success: SuccessBasket,
            error: AjaxError
        });
    });

    function SuccessBasket(data){
        console.log(data);
    }

    function AjaxError(){
        console.log("Ошибка выполнения ajax");
    }

    $(".count").children(".min").click(function () {
        var idItem = $(this).parent().parent().children('.button').attr('data-id');
        var count = parseInt($(this).parent().children(".text").text());
        count--;

        if (count == 0) {
            $(this).parent().parent().children('.button').show();
            $(this).parent().parent().children('.count').hide();
        } else {
            $(this).parent().children(".text").text(count);
        }

        $.ajax({
            url: '@Url.Action("BasketCount", "Items")',
            contentType: "application/json; charset=utf-8",
            data: { idItem: idItem, count: count },
            dataType: "json",
            success: SuccessBasket,
            error: AjaxError
        });
    });

    $(".count").children(".max").click(function () {
        var idItem = $(this).parent().parent().children('.button').attr('data-id');
        var count = parseInt($(this).parent().children(".text").text());
        count++;
        $(this).parent().children(".text").text(count);

        $.ajax({
            url: '@Url.Action("BasketCount", "Items")',
            contentType: "application/json; charset=utf-8",
            data: { idItem: idItem, count: count },
            dataType: "json",
            success: SuccessBasket,
            error: AjaxError
        });
    });
</script>

